
#lshreg a{
    text-decoration:none;
}
#lshreg{
    background-image:url(../img/lsh/img/login-background.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    height:100%;
}
#lshreg .logo{
    width: 200px;
    height: 105px;
    background-image: url(../img/lsh/img/blizzard-logo.png);
    margin:0 auto;
    margin-top:0;
    margin-bottom: 40px;
}
#lshreg .container::before{
    content:"";
    display: table;
}
#lshreg>.container{
    width: 500px;
    margin:0 auto;
    padding-top:150px;
    padding-bottom:65px;
}
#lshreg .title{
    margin-bottom:20px;
}
#lshreg .title>h1{
    margin:30px;
    text-align: center;
}
#lshreg h1{
    color:#fff;
    font-weight: 300;
}
#lshreg .create{
    color:rgba(255,255,255,.8);
    font-size: 15px;
}
#lshreg .mainlogin{
    width:100%
}
#lshreg .gird{
    width:100%;
    margin: 8px 0;
    padding: 0 10px;
    font-size: 15px;
    line-height: 20px;
    height: 34px;
    border: 1px solid rgba(255,255,255,0.3);
    background-color: rgba(0,0,0,0.5);
    color: rgba(255,255,255,0.7);
    box-sizing: border-box;
    border-radius: 2px;
}
#lshreg .gird:focus{
    border: .7px solid #044479;
}
#lshreg #checkbox{
    width:16px;
    height:16px;
    padding-top:15px;
    display:inline-block;
    position:relative;
    top:3px;
}
#lshreg label{
    color: rgba(255,255,255,.8);
    font-size:14px;
    
}
#lshreg label>a{
    color: #00aeff;
}
#lshreg button{
    margin-top:30px;
    margin-bottom: 6px;
    display:inline-block;
    font-size: 15px;
    height: 40px;
    background-color: #0e86ca;
    color: #fff;
    border: 1px solid #10a1de;
    box-shadow: 0 0 rgba(0,0,0,0);
    border-radius: 2px;
    width: 100%;
    transition:.2s;
}
#lshreg button:hover{
    background-color: #00aeff;

}
#lshreg .bottom{
    color:rgba(255,255,255,.8);
    font-size:15px;
    margin-top:40px;
}
#lshreg .bottom>a{
    color: #00aeff;
    font-size:15px;
}
#lshreg .arrow{
    border-width:8px;
    border-style:solid;
    border-color: transparent;
    border-top-width:0;
    border-bottom-color: #272e3b;
    width:0;
    position: absolute;
    left:50%;
    top:-8px;
}
#lshreg .popover{
    z-index: 1060;
    width:100%;
    padding: 1px;
    font-size:16px;
    background-color: #272e3b;
    border: 1px solid #3d434f;
    background-clip: padding-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.75);
    position: relative;
    margin-top:5px;
    margin-bottom:8px;
}
#lshreg .popover p{
    color: rgba(255,255,255,.8);
    font-size:15px;
}
#lshreg .popover-content{
    padding:20px;
}
#lshreg i{
    background-image:url(../img/lsh/img/sprite-16-red.3vUhX.png);
    background-position: -112px -96px;
    display: inline-block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    line-height: 16px;
    vertical-align: top;
    background-repeat: no-repeat;
    text-indent: -9999px;
    -webkit-transition: opacity,.2s;
    transition: opacity .2s;
    position: absolute;
    top:4px;
    left:0;
}
#lshreg .help-block {
    color: #cd0606;
    font-size: 12px;
    position: relative;
    padding-left:25px;
}
#lshreg .help-block>i{
    position: absolute;
    top:1px;
}
#lshreg .gird-red{
    border: 1px solid red;
}
#lshreg ul{
    color:rgba(255,255,255,.8);
    list-style:none;
}
#lshreg .popover-content li{
    margin:10px 0;
    position: relative;
    padding-left:30px;
}
#lshreg .rating{
    position: absolute;
    top:34px;
    right:9px;
    color:#9d9d9d;
    font-style: italic;
    font-size:16px;
}
#lshreg .one{
    display:none;
}
#lshreg .two{
    display:none;
}
#lshreg .email{
    display:none;
}
#lshreg .girdred{
    border: 1px solid red;
}
#lshreg .icon-gray{
    display: inline-block;
    background-image:url(../img/lsh/img/sprite-16-gray.3x9fZ.png);
    width: 16px;
    height: 16px;
    overflow: hidden;
    line-height: 16px;
    vertical-align: top;
    background-repeat: no-repeat;
    text-indent: -9999px;
    transition: opacity .2s;
    background-position: -32px -224px;

}
#lshreg .green{
    background-position: -144px -80px;
    background-image:url(../img/lsh/img/sprite-16-green.0Xga1.png);
    display: inline-block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    line-height: 16px;
    vertical-align: top;
    background-repeat: no-repeat;
    text-indent: -9999px;
    -webkit-transition: opacity,.2s;
    transition: opacity .2s;
    position: absolute;
    top:4px;
    left:0;
}
#lshreg .dd{
    background-image:url(../img/lsh/img/sprite-16-red.3vUhX.png);
    background-position: -112px -96px;
}
#lshreg .size{
    color: rgba(255,255,255,0.3);
}
#lshreg .common{
    color: #fff;
}
#lshreg .uncommon{
    color: #1eff00;
}
#lshreg .rare{
    color: #0070ff;
}
#lshreg .epic{
    color: #a335ee;
}
#lshreg .dary{
    color: #ff8000;
}